// ids for this project specifically

#results-matching-traits {
    display: block;
}

#results-liked-by-sign {
    display: block;
}

#horoscope-show {
    display: none;
}

.h-20 {
    >img {
        height: 30%;
    }
}